/*@font-face {
  font-family: "Open Sans";
  src: url("https://developer.cdn.mozilla.net/static/fonts/OpenSans-Light-webfont.23b624d91151.woff2") format("embedded-opentype"), url("https://developer.cdn.mozilla.net/static/fonts/OpenSans-Light-webfont.23b624d91151.woff2") format("woff"), url("https://developer.cdn.mozilla.net/static/fonts/OpenSans-Light-webfont.23b624d91151.woff2") format("truetype");
}*/

#tinymce {_font-size: 15px !important;}

#view-item .project-info {
  margin: 0 !important;
}

body #view-item .item-title {
  padding-right: 50px;
}

/* No greater than 900px, no less than 400px */
@media (max-width:1268px) and (min-width:320px) {
  body #view-item .item-title {
    padding-right: 130px;
  }
}

/* No greater than 900px, no less than 400px */
@media (min-width:1269px) {
  body #view-item .item-title {
    padding-right: 0 !important;
  }
}

body.geminiEX,
.geminiEX #items-grid,
.geminiEX #zone-header-bar,
.geminiEX .cs-menu-dropdown,
.geminiEX #zone-header-bar ul.tabs li.tab,
.geminiEX #zone-header-bar #all-projects-menu-box {
  font-family: Open Sans !important;
  font-weight: 400;
}

  .geminiEX #zone-header-bar,
  .geminiEX #zone-header-bar ul.tabs li.tab {
    font-weight: 700;
  }

body.geminiEX {
  _font-size: 16px;
  color: rgb(48, 57, 66);
}

.geminiEX #view-item .contents-pane .tab-content {
  _max-width: 600px;
  _font-size: 16px;
  _width: 729px;
  color: #4D4E1D;
  font-weight: 400;
  _width: 700px;
  line-height: 1.6em;
   margin: 0;
}


.geminiEX #view-item .description {
  _font-size: 15px !important;
  color: #333;
  line-height: 1.6em;
}

.geminiEX #view-item .touch-info {
  font-size: 13px !important;
  color: #444 !important;
}

.geminiEX .add-text {
  line-height: 1.1em;
}

.geminiEX #view-item .comments .dated {
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}

.geminiEX #zone-header-bar ul.tabs li.tab {
  font-size: 1em;
}

.geminiEX #cs-sections div.section-content {
  margin: 5px 0 0 !important;
}

.geminiEX h1,
.geminiEX h2,
.geminiEX h3,
.geminiEX h4,
.geminiEX h5,
.geminiEX h6 {
  font-family: "Arial Rounded MT Bold","Segoe UI",Gill Sans Mt,"Gill Sans",Century Gothic,Franklin Gothic Book,sans-serif;
}

.mce-edit-area.mce-container.mce-panel[role="group"] {
  height: calc(100% - 60px) !important;
}

.mce-container.mce-fullscreen {
  box-shadow: 0 0 50px 5px gray;
  height: calc(100% - 150px) !important
}

#item-collapse:hover {
  background-color: #ddd;
}