{{radio-button class=radioInputClassNames disabled=isDisabled value=value checked=fieldValue name=fieldName autofocus=autofocus}}
<label for={{fieldName}} class="{{radioLabelClassNames}}">{{label}}</label>