<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">

      <label class="custom-control custom-checkbox">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><b>About</b></span>
      </label>

    </li>

  </ul>
</div>